
[init]
	defaultBranch = main

[core]
    sshCommand = "ssh -i ~/.ssh/id_ed25519"
    pager = delta
    excludesfile = "~/.gitignore"

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[user]
	email = ginowashere@hotmail.com
	name = Gino
 
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[includeIf "gitdir:~/projects/uni/"] # include for all .git projects under personnal/ 
    path = "~/projects/uni/.gitconfig"
[pull]
	rebase = false
